@media (max-width: 360px){
    .re{
        width: 30vw !important;
    }
}
@media (max-width: 414px){
    .re{
        width: 70% !important;
    }
}
@media (max-width: 540px){
    .re{
        width: 70% !important;
    }
}
